*{
    margin: 0%;
}

.banner{

    background-image: url(../first-assingment-ph/images/banner/banner3.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: right;
    padding: 150px;

}
.banner-title{
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: #FFF;
    
}

.banner-description{
    
    color: #FFF;
    
}

.btn-contact{

    padding: 20px 30px;
   margin-top: 10px;
   color: #005FAC;
   border-radius: 5px;
   border: none;
   margin-top: 25px;
   font-weight: bold;
}


/* ===================================
failure section start
======================================*/

.failure-container{
    display: flex;
    gap: 90px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.failure-title{
    color: #151414;
    font-style: bold;
    font-size: 40px;
}
.failure-title-description{
    margin-top: 15px;
    margin-bottom: 20px;
    color: #444343;
    font-size: 16px;
}

/* < =================================
    Planing section started
=====================================  */

.plan-title{
    text-align: center;
    font-size: 40px;
    color: #151414;
    font-style: bold;
    margin-top: 130px;
    
}
.skill-container{
    display: flex;
    justify-items: center;
    text-align: center;
    justify-content: center;
    gap: 90px;
    margin-top: 35px;
    margin-bottom: 100px;
}

.call-now{
   background-image: url(../first-assingment-ph/images/gradient1.png), url(../first-assingment-ph/images/watch.png);
   background-repeat: no-repeat;
   justify-content: center;
   justify-items: center;
   background-size: cover;
   padding: 35px;
   
   margin-left: 230px;
   margin-right: 230px;
   margin-bottom: 100px;
}

.btn-call{
    padding: 20px 30px;
   margin-top: 10px;
   color: #005FAC;
   border-radius: 5px;
   border: none;
   margin-top: 25px;
   font-weight: bold;
}

.contact-title{

    font-size: 40px;
    color: #ffffff;
    font-weight: 700px;

}

/* <!-- =================================
    Extra section
===================================== --> */


.extra{
    background-image: url(../first-assingment-ph/images/gradient2.png), url(../first-assingment-ph/extra.jfif);
    background-repeat: no-repeat;
    justify-content: center;
    justify-items: center;
    background-size: cover;
    padding: 35px;
    
    margin-left: 230px;
    margin-right: 230px;
    margin-bottom: 100px;

}

.extra-title{
    font-size: 40px;
    color: #ffffff;
    font-weight: 700px;
}

/* <!-- =================================
    footer Area
===================================== --> */

.footer-area{
    display: flex;
    justify-content: center;
    gap: 320px;
    background-color: #151414;
    padding: 5px;
}

.media{
    display: flex;
    gap: 18px;
    margin-top: 18px;
}

.future-title{

    color: #F8F8F8;
    font-size: 45px;
}

.future-title-description{
    color: #FFFFFF;
font-size: 16px;
margin-top: 30px;
}

.subscribe-area h3{
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 30px;
    color: #FFFFFF;
    margin-top: 30px;
}
.email{

    width: 325px;
    height: 64px;
    border: 2px solid #ffffff;
    border-radius: 8px;
    font-size: 18px;
    background-color: #000000;
    color: rgb(255, 248, 248);
}

.btn-subscribe{
    padding: 20px 36px;
    background-color: #005FAC;
    color: #FFF;
    border-radius: 8px;
    margin-top: 16px;
    font-weight: bold;
    font-size: 20px;
}
.personal-info p{
    margin-top: 20px;
    margin-bottom: 20px;
   color: #FFFFFF; 
   font-size: 16px;
}

.subscribe-area{
    padding: 130px 0;
}

.future-seaction{
    padding: 130px 0;
}